.accordion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
  padding: 1.25rem;
  max-width: 16rem;
  width: 100%;
}

.accordionContainer {
  width: 100%;
}

.accordionItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 12.5rem;
  cursor: pointer;
}

.accordionItem:hover .accordionTitle{
  color: rgb(0, 159, 127);
}

.accordionTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  margin-bottom: 0.5rem;

  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(75, 85, 99);
}

.subCategories {
  padding-left: 1rem;
  /* padding: 0.5rem 2.25rem; */
  font-weight: 600;
  font-size: 0.875rem;
  /* line-height: 1.25rem; */
  color: rgb(75, 85, 99);
}

.subCategories:hover {
  color: rgb(0, 159, 127);
  cursor: pointer;
}

/* media query */

@media screen and (max-width: 1280px) {
  .accordion {
    display: none;
  }
}
