.basketmodal {
  position: fixed;
  top: 0;
  right: 0;
  width: 60rem;
  height: 100%;
  background-color: #f7f7f7;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
  z-index: 9999;
  overflow-y: scroll;
  height: 100vh;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9998;
  display: none;
}

.basketmodal.open + .overlay {
  display: block;
}

.open {
  transform: translateX(0);
}
.container {
  padding: 1.5rem 3.8rem;
}

.header {
  font-size: 1.2rem;
  color: #161f6a;
}

.fileAdd {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 12.5rem;
  margin-top: 1.8rem;
}

.leftTitle {
  margin-top: 2rem;
  font-size: 0.8rem;
  color: #7d87b1;
  width: 30%;
  flex-wrap: wrap;
}
.imageAdd {
  background-color: white;
  width: 65%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.dashed {
  border: 2px dashed rgb(233, 229, 229);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashed label {
  cursor: pointer;
}
.fileAdd .imageAdd input {
  margin-top: 1.3rem;
  text-align: center;
  cursor: pointer;
}

/*-----------------*/

.inputField {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 12.5rem;
  margin-top: 1.8rem;
}

.productAdd {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1.8rem;
}

.formAdd {
  background-color: white;
  width: 65%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.formAdd label {
  color: #161f6a;
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 0.6rem;
}

.formAdd input {
  background-color: #eeeeee;
  border: none;
  height: 2.6rem;
  margin-bottom: 1.2rem;
  padding-left: 1rem;
}

.formAdd input:focus {
  outline-color: #1fc58d;
}

.formAdd textarea {
  background-color: #eeeeee;
  border: none;
  margin-bottom: 1.2rem;
  padding: 1rem;
  height: 5rem;
}

.formAdd textarea:focus {
  outline-color: #1fc58d;
}

/*---------------------*/

.buttons {
  height: 7rem;
  width: 100%;
  background-color: white;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px -1px 9px -5px rgba(128, 128, 128, 0.5);
}

.buttons button {
  padding: 1.2rem;
  width: 25rem;
  border: none;
  cursor: pointer;
}

.cancelButton {
  color: tomato;
  font-weight: 600;
  background-color: white;
}

.cancelButton:hover {
  background-color: #eeeeee;
}

.createProductButton {
  background-color: #1fc58d;
  color: white;
  font-weight: 600;
}

.createProductButton:hover {
  background-color: #17bc85;
}
