.orders {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 100%;
}

.myOrders {
  display: flex;
  flex-direction: column;
  width: 33.33%;

  /* scroll starts */
  height: 80vh;
  min-height: 42rem;
  overflow-y: auto;
  /* scroll ends */

  gap: 1rem;
  padding: 2rem 1.25rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
}

/* Scrollbar starts */
.myOrders::-webkit-scrollbar {
  width: 0.25rem;
}

.myOrders::-webkit-scrollbar-track {
  margin: 1rem 0;
  background-color: rgb(217, 217, 217);
  border-radius: 0.5rem;
}

.myOrders::-webkit-scrollbar-thumb {
  background-color: rgb(108, 108, 108);
  border-radius: 0.5rem;
}

.myOrders::-webkit-scrollbar-thumb:hover {
  background-color: rgb(77, 77, 77);
}

/* Scrollbar ends */