.orderDetails {
  display: flex;
  flex-direction: column;
  width: 66%;

  border-radius: 0.3rem;
  border: 1px solid rgb(229, 231, 235);
  background-color: rgb(255, 255, 255);
}

.detailsHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 1.25rem;
}

.detailsHeader .eye {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 0.5rem;

  color: rgb(0, 159, 127);
  cursor: pointer;
}

.detailsHeader h3 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: rgb(31, 41, 55);
}

.eye span {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(0, 159, 127);
}

.detailStatus {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 1rem 1.25rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  background-color: rgb(247, 248, 250);
}

.statusOrder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.statusOrder p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.statusOrder span {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: auto;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;

  border-radius: 1rem;
  background-color: rgba(158, 117, 0, 0.15);
  color: rgb(158, 117, 0);
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 700;
}

.statusPayment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}

.statusPayment p {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.statusPayment span {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: auto;
  min-height: 2rem;
  padding: 0.25rem 0.75rem;

  border-radius: 1rem;
  background-color: rgba(0, 159, 127, 0.15);
  color: rgb(0, 159, 127);
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 700;
}

.detailsInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  border-bottom: 1px solid rgb(229, 231, 235);
}

.addressInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 60%;

  padding: 1rem 1.25rem;
  border-right: 1px solid rgb(229, 231, 235);
}

.addressShipping {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addressShipping span {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(31, 41, 55);
}

.addressShipping p {
  color: rgb(107, 114, 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.addressBilling {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.addressBilling span {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(31, 41, 55);
}

.addressBilling p {
  color: rgb(107, 114, 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.calculateInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 40%;
  padding: 1rem 1.25rem;
}

.calculateRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.calculateRow span:first-child {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(107, 114, 128);
}

.calculateRow span:last-child {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(31, 41, 55);
}

.calculateRow .calculateTotal {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(31, 41, 55);
}

.detailsItems {
  display: flex;
  width: 100%;
}

.itemsTable {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.itemsTable thead {
  display: table;
  width: 100%;
  table-layout: fixed; /* equal width columns */
  padding: 1rem 0;
  background-color: rgb(243, 244, 246);
}

.itemsTableHeader {
  display: table-row;
}

.itemsTableHeader th {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(31, 41, 55);
}

.itemsTable tbody {
  display: table;
  width: 100%;
  table-layout: fixed; /* equal width columns */
}

.itemsTableData {
  display: table-row;
}

.itemsTableData td {
  display: table-cell;
  text-align: center;
  padding: 0.5rem 0;
}

.itemsTableData .firstDataCell {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.itemsTableData .firstDataCell img {
  border-radius: 0.375rem;
}

.itemsTableData .cellDiv {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.itemsTableData .cellDiv a {
  text-decoration: none;
}

.cellDiv .cellDivTitle {
  color: rgb(107, 114, 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.cellDiv .cellDivTitle:hover {
  text-decoration: underline;
  color: rgb(0, 159, 127);
}

.cellDiv .cellDivPrice {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(0, 159, 127);
}


/* media queries start */

@media screen and (max-width: 1280px) {
  .statusOrder {
    gap: 0.5rem;
  }

  .statusPayment {
    gap: 0.5rem;
  }

  .detailsHeader h3 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgb(31, 41, 55);
  }
  
  .detailsHeader span {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    color: rgb(31, 41, 55);
  }

  .detailsHeader .eye {
    gap: 0.25rem;
  }
  
  
  .statusOrder p {
    font-size: 0.9rem;
    line-height: 0.875rem;
    font-weight: 700;
  }
  
  .statusOrder span {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 700;
  }

  
  .statusPayment p {
    font-size: 0.9rem;
    line-height: 0.875rem;
    font-weight: 700;
  }
  
  .statusPayment span {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 0.875rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {

  .orderDetails {
    width: 100%;
  }

  .detailsInfo {
    flex-direction: column;
  }

  .addressInfo {
    width: 100%;
    border-right: none;
    border-bottom: 1px solid rgb(229, 231, 235);
  }

  .calculateInfo {
    width: 100%;
  }

}

/* media queries end */