.button {
  background-color: #00BD87;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: white;
  cursor: pointer;
  border: none;
  font-size: 0.9rem;
}
.topcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container {
  width: 80%; /* Genişliği artırıldı */
  background-color: #FFFFFF;
  height: 7rem;
  box-shadow: 0 0 5px rgba(83, 83, 83, 0.199);
  margin-top: 10rem;
  margin-left: auto; /* Sola yapışık */
  margin-right: auto; /* Sağa yapışık */
  display: flex;
  /* padding: 2rem;  */
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.select {
  border: none;
  transition: border-color 0.3s;
  background-color: #eeeeee;
  padding: 1rem 1.5rem; /* Padding azaltıldı */
}

#myInput {
  border: none;
  transition: border-color 0.3s;
  background-color: #eeeeee;
  padding: 1rem 2rem; /* Padding azaltıldı */
}

#myInput:focus {
  border-color: green;
}

.focused {
  border-color: green;
}


.container2 {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  height: 70vh;
  background-color: #FFFFFF;
  box-shadow: 0 0 5px rgba(83, 83, 83, 0.199);
  margin-bottom: 2rem;
}

/* styles.module.css */

.tableContainer {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.tableContainer th,
.tableContainer td {
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.tableContainer th {
  background-color: #f2f2f2;
}

.tableContainer tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tableContainer tbody tr:hover {
  background-color: #ddd;
}




@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  .container2 {
    width: 100%;
    margin-top: 1rem;
  }

  .select {
    padding: 0.5rem 1rem;
  }

  #myInput {
    padding: 0.5rem 1rem;
  }

  .button {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .container2 ul {
    flex-direction: row;
    border-bottom: 2px solid #ccc;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
    margin-top: 7rem;
  }

  .container2 {
    width: 100%;
    margin-top: 2rem;
    margin: auto;
  }

  .select {
    padding: 0.5rem 3rem;
  }

  #myInput {
    padding: 0.5rem 1rem;
  }

  .button {
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .container2 ul {
    flex-direction: row;
    border-bottom: 2px solid #ccc;
    overflow-x: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
