.contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;

  padding: 3.5rem 4rem;
  background-color: rgb(243, 244, 246);
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  width: 100%;
  max-width: 24rem;
  padding: 1.25rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.contactAddress {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contactPhone {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.contactWebsite {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.websiteLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(0, 159, 127);
}

.contactSocial {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.socialLinks {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.contactDiv {
  display: flex;

  width: 100%;
  max-width: 46rem;
  padding: 2rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.contactTitle {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 600;
  color: rgb(31, 41, 55);
}

.nameEmail {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.nameField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.nameField .nameInput {
  display: flex;
  width: 100%;
  appearance: none;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.25rem;
  height: 2.75rem;
}

.nameField .nameInput:focus {
  border-color: rgb(0, 159, 127);
}

.nameField label {
  color: rgb(107, 114, 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.emailField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.emailField .emailInput {
  display: flex;
  width: 100%;
  appearance: none;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.25rem;
  height: 2.75rem;
}

.emailField .emailInput:focus {
  border-color: rgb(0, 159, 127);
}

.emailField label {
  color: rgb(107, 114, 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.subjectField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.subjectField .subjectInput {
  display: flex;
  width: 100%;
  appearance: none;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.25rem;
  height: 2.75rem;
}

.subjectField .subjectInput:focus {
  border-color: rgb(0, 159, 127);
}

.subjectField label {
  color: rgb(107, 114, 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.descriptionField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.descriptionField .descriptionTextarea {
  display: flex;
  width: 100%;
  appearance: none;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.25rem;
  height: 6rem;
}

.descriptionField .descriptionTextarea:focus {
  border-color: rgb(0, 159, 127);
}

.descriptionField label {
  color: rgb(107, 114, 128);
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.contactForm .submitButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: 600;
  line-height: 1;
  border-radius: 0.375rem;
  outline: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  user-select: none;
  border: none;
  padding: 0 1.25rem;
  height: 3rem;
  margin-right: auto;
  color: #fff;
  background-color: rgb(0, 159, 127);
}

.contactForm .submitButton:hover {
  background-color: rgba(1, 147, 118, 255);
}
