/* Cardmodule.css */
.cardContainer {
  display: flex;
}

.doughnutCard {
  width: 250px;
  background-color: #ffffff;
  padding: 30px;
  margin-right: 30px;
}

.doughnutCard p {
  color: 'rgb(22,31,127)';
}

.lineChartCard {
  background-color: white;
  padding: 30px;
  width: 700px;
}
