/* FourChart.module.css */

.chartContainer {
  margin-top: 60px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.chartItem {
  width: 240px;
  padding: 20px;
  border-radius: 10px;
  margin-right: 14px;
  background-color: white;
}

.header{
  display: flex;
  justify-content: space-between;
}

.date{
  color: rgb(133,109,151);
  font-size: small;
  font: 900;
}
.icon {

}

.title {
  color: rgb(22, 31, 106);
  font-size: 16px;
}

.value {
  font-size: 20px;
  color: rgb(22, 31, 106);
  margin-top: 40px;

}

.details {
  color: #7f8c8d;
  font-size: 12px;
  margin-bottom: 50px;
}

.upArrow{
  color: blue;
}

.downArrow{
color: red;
}
.link {
  font-size: 14px;
  text-decoration: none;
  color: #7b5ca2;
  font-weight: 700;
}
