/* WaveformChart.module.css */

.chartContainer {
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
}

.lineChartCard {
  width: 700px;
  background-color: white;
  margin-right: 30px;
  padding: 30px;
}

.doughnutChartCard {
  width: 250px;
  background-color: #ffffff;
  padding: 30px;
}

.chartTitle {
  color: rgb(22, 31, 127);
}

.salesTitle {
  margin-bottom: 20px;
}

.doughnutChart {
  margin-top: 50px;
}
