.resetPassword{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(243,244,246);
}

.container{
    width: 26rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 0.3rem;
    background-color: white;
}

.container h1{
    font-weight: 500;
    color: #009f7f;
}

.container p{
    color: rgb(69, 68, 68);
}
.resetPasswordForm{
    display: flex;
    flex-direction: column;
}

.resetPasswordForm label{
    font-size: small;
    margin: 0.6rem 0;
}

.resetPasswordForm input{
    padding: 0.8rem;
    border: lightgray solid 1px;
    border-radius: 4px;
}

.resetPasswordForm input:focus{
    border: 1px solid #009f7f;
    outline: none;
}

.resetPasswordForm .btn{
    background-color: #009f7f;
    width: 100%;
    padding: 1rem;
    color: white;
    margin: 2rem 0;
    border-radius: 0.3rem;
    font-size: medium;
    outline: none;
    border: none;
}

.resetPasswordForm .btn:hover{
    background-color: #048e72;
    cursor: pointer;
}

.error{
    color: red;
    font-size: small;
}