.profile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.personal {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.personal .upload {
  position: relative;
  width: 100%;
  height: 9rem;
}

.upload .image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  width: 16rem;
  pointer-events: none;
  font-size: 1rem;
  color: rgb(107, 114, 128);
}

.upload .image span {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(0, 159, 127);
}

.upload .userImage {
  object-fit: fill;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.375rem;
  margin-top: 0.25rem;
}

.customFileinput {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 9rem;
  border-radius: 0.3rem;
  border: 2px dashed rgb(209, 213, 219);
  color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.customFileinput::-webkit-file-upload-button {
  visibility: hidden;
}

.customFileinput:active {
  background-color: rgba(0, 159, 127, 0.05);
}

.customFileinput:hover {
  border-color: rgb(0, 159, 127);
}

.nameField {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.nameField .nameInput {
  display: flex;
  width: 100%;
  appearance: none;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.25rem;
  height: 2.75rem;
}

.nameField .nameInput:focus {
  border-color: rgb(0, 159, 127);
}

.personal .saveButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  height: 3rem;
  padding: 0 1.25rem;
  margin-left: auto;

  border: none;
  border-radius: 0.375rem;
  background-color: rgb(0, 159, 127);
  color: #fff;
  font-weight: 600;
  line-height: 1;
  outline: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.personal .saveButton:hover {
  background-color: rgba(1, 147, 118, 255);
}

.personal .saveButton:disabled {
  background-color: #048e72;
  cursor: not-allowed;
}

.saveButton.loading::after {
  content: '';
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

/* animation for the spinner */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.emailField {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.emailField .emailinput {
  display: flex;
  width: 100%;
  appearance: none;
  align-items: center;
  padding: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.25rem;
  height: 2.75rem;
}

.emailField .emailinput:focus {
  border-color: rgb(0, 159, 127);
}

.emailField .updateButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  height: 3rem;
  padding: 0 1.25rem;
  margin-left: auto;
  
  border: none;
  border-radius: 0.375rem;
  background-color: rgb(0, 159, 127);
  color: #fff;
  font-weight: 600;
  line-height: 1;
  outline: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.emailField .updateButton:hover {
  background-color: rgba(1, 147, 118, 255);
}

.emailField .updateButton:disabled {
  background-color: #048e72;
  cursor: not-allowed;
}

.updateButton.loading::after {
  content: '';
  border: 2px solid #ffffff;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 1s linear infinite;
  margin-left: 10px;
}

/* animation for the spinner */
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.contactField {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.contactField .contactInfos {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.contactHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.contactHeader p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(31, 41, 55);
}

.contactField .contactinput {
  display: flex;
  width: 100%;
  appearance: none;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
  outline: none;
  border: 1px solid rgb(209, 213, 219);
  border-radius: 0.25rem;
  height: 2.75rem;
}

.contactField .contactinput:focus {
  border-color: rgb(0, 159, 127);
}

.contactField .countrySelect {
  display: flex;
  align-items: center;

  padding: 0.5rem;
  height: 2.75rem;
  width: 6rem;

  outline: none;
  border-radius: 0.25rem;
  border: 1px solid rgb(209, 213, 219);
  font-size: 0.875rem;
  transition: all 0.3s ease-in-out;
}

.contactField .countrySelect:focus {
  border-color: rgb(0, 159, 127);
}

.contactField .updateButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  height: 3rem;
  padding: 0 1.25rem;
  margin-left: auto;
 
  border: none;
  border-radius: 0.375rem;
  background-color: rgb(0, 159, 127);
  color: #fff;
  font-weight: 600;
  line-height: 1;
  outline: none;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.contactField .updateButton:hover {
  background-color: rgba(1, 147, 118, 255);
}

.addressField {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  padding: 2rem 2.5rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(229, 231, 235);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 255, 255);
}

.addressHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.addressHeader p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: rgb(31, 41, 55);
}

.addButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  font-weight: 600;
  line-height: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(0, 159, 127);
  cursor: pointer;
}

.addressItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}

.addressItem {
  position: relative;
}

.addressForm {
  display: flex;
  flex-direction: column;
  width: 16rem;
  padding: 1.5rem 1rem 1rem 1rem;
  border: none;
  border-radius: 0.375rem;
  background-color: rgb(243, 244, 246);
}

.addressForm:hover {
  border-color: 1px solid rgb(0, 159, 127);
}

.addressForm label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: rgb(107, 114, 128);
}

.addressForm .input {
  padding: 0.25rem 0.25rem;
  margin-bottom: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid rgb(209, 213, 219);
}

.addressForm .input:focus {
  border-color: rgb(0, 159, 127);
  outline: none;
}

.deleteButton {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;

  border: none;
  border-radius: 50%;
  color: red;
  background-color: transparent;
  cursor: pointer;
  z-index: 1;
}

.deleteButton:hover {
  color: #fff;
  background-color: red;
}

.updateButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  outline: none;
  cursor: pointer;
  
  padding: 0.25rem 0.25rem;

  border: none;
  border-radius: 0.25rem;
  background-color: rgb(0, 159, 127);
  color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.updateButton:hover {
  background-color: rgba(1, 147, 118, 255);
}

/* media queries start */

@media screen and (max-width: 1280px) {
  .profile {
    gap: 1.5rem;
  }

  .addressField {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 725px) {
  .personal {
    padding: 1rem 1rem;
  }

  .emailField {
    padding: 1rem 1rem;
  }

  .contactField {
    padding: 1rem 1rem;
  }

  .addressField {
    padding: 1rem 1rem;
  }
}

/* media queries end */