/* styles/Navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  margin-bottom: 2rem;
}

.logos {
  flex: 1;
}

.menutoogle { /* Correct the class name to 'menutoggle' */
  cursor: pointer;
  display: none;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
}

.nav2 {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.svg {
  margin-right: 1.3rem;
  cursor: pointer;
}

.mobilemenu {
  display: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mobilemenu ul { /* Correct the class name to 'mobilemenu' */
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobilemenu li { /* Correct the class name to 'mobilemenu' */
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  text-align: center;
  color: #1665B9;
}

@media (max-width: 1200px) {
  .menutoogle { /* Correct the class name to 'menutoggle' */
    display: block;
  }

  .logos {
    display: none;
  }

  .mobilemenu { /* Correct the class name to 'mobilemenu' */
    display: block;
  }
  
  .nav2 {
    justify-content: center;
    text-align: center;
    margin-right: 0; /* Adjust the margin for better spacing */
  }

  .svg {
    margin-right: 1; /* Adjust the margin for better spacing */
  }
}

@media (max-width: 780px) {
  .menutoogle { /* Correct the class name to 'menutoggle' */
    display: block;
  }

  .logos {
    display: none;
  }

  .mobilemenu { /* Correct the class name to 'mobilemenu' */
    display: block;
    z-index: 500;
    width: 100vw;
    height: 100vh;
  }
  
  .nav2 {
    justify-content: center;
    text-align: center;
    margin-right: 0; /* Adjust the margin for better spacing */
  }

  .svg {
    margin-right: 1; /* Adjust the margin for better spacing */
  }
}
